header, footer{
   width: 100%;
   height: 230px;
   background-color: #484848;
}

main{
  width: 100%;
  height: 950px;
  background-color: 	#202020;
}

#box{
background-color: white;
height: 200px;
}

#grid1{

display: grid;
grid-template-areas: "col1 col2";
grid-auto-rows: 1fr;
grid-template-columns: 50% 50%;
text-align: center;

}

#col1{
  grid-area: col1;
  background-color: #989898;
margin-left: 170px;
height: 24px;
  width: 400px;


}

#col2{
  grid-area: col2;
  background-color: #989898;
  height: 24px;
margin-left: 100px;
  width: 400px;


}
#grid2{

display: grid;
grid-template-areas: "col3 col4 col5";
grid-auto-rows: 1fr;
grid-template-columns: 33% 33% 33%;
text-align: center;

}

#col3{
grid-area: col3;
background-color: #B0B0B0;
height: 170;
margin-top: 20px;
margin-left: 7px;

}

#col4{   grid-area: col4;
 background-color: #B0B0B0;
 height: 170px;
   margin-top: 20px;
     margin-left: 7px;


}

#col5{   grid-area: col5;
 background-color: #B0B0B0;
 height: 170px;
   margin-top: 20px;
     margin-left: 7px;
}

#box1{
display: grid;
background-color:	#080808;
height:220px;
width: 80%;
margin: 0 auto;

grid-auto-rows: 1fr;

    text-align: center;


}

#box2{
display: grid;
background-color:	#080808;
grid-template-areas: "col6 col7";
height:220px;
width: 80%;
margin: 0 auto;

grid-auto-rows: 1fr;

    text-align: center;


}


#col6{

grid-area: col6;
background-color: black;

height: 220px;
margin-left: 5px;

}

#col7{

grid-area: col7;
background-color: black;

height: 220px;
margin-left: 5px;

}

a{ color: white;
text-decoration: none;

width: 100px;
margin-left: 25px;
margin-top: 20px;
font-family: fantasy;


}

.images{

height:180px;
display: block;
margin: 0 auto;
margin-top: 18px;


}




.images1{

  height:180px;
  display:inline-flex;
  margin: 0 auto;
}

.images2{

height:220px;
display:inline-flex;

}

.images3{

height:150px;
display:inline-flex;
margin-top: 9px;
}

h1{
 color: black;
 margin-left: 220px;
 font-size: 55px;
 font-family: fantasy;

}

p{
color: grey;
margin-left: 10px;
margin-right: 10px;
font-size: 15px;
height:




}
h4{
 color: grey;
 font-size: 30px;
 font-family: fantasy;



}
