@import "desktop.css";


header, footer{
   width: 100%;
   height: auto;
   background-color: #484848;
}

main{
  width: 100%;
  height: 1100px;
  background-color: 	#202020;
}

#box{
background-color: white;
height: auto;}

a{ color: white;
text-decoration: none;

width: 100px;
margin-left: 25px;
margin-top: 20px;
font-family: fantasy;
 height: auto;


}

.images{
 height: auto;
display: block;
margin: 0 auto;
margin-top: 18px;


}



.images2{
width: 250px;
height:140px;
display:inline-flex;

}

.images3{
width: 100;
height:220px;
display:inline-flex;
margin-top: 9px;
}

h1{
 color: black;

 margin-top: 20px;
 font-size: 100px;
 font-family: fantasy;

}
.images1{
width: 300px;
display: block;
margin: 0 auto;
margin-top: 18px;


}
p{
color: grey;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
font-size: 10px;
margin: 0 auto;
 height: auto;



}

h1{
 color: black;
 margin-left: 5px;
 font-size: 35px;
 font-family: fantasy;




}

#grid2{

display: grid;
grid-template-areas: "col3" "col4" "col5";
grid-auto-rows: 1fr 1fr 1fr;
grid-template-columns: 100%;
text-align: center;
height: auto;

}

#col3{
grid-area: col3;
background-color: #B0B0B0;
height: 250px;
margin-top: 20px;
margin-left: 7px;

}

#col4{   grid-area: col4;
 background-color: #B0B0B0;
 height: 250px;
   margin-top: 20px;
     margin-left: 7px;


}

#col5{   grid-area: col5;
 background-color: #B0B0B0;
 height: 250px;
   margin-top: 20px;
     margin-left: 7px;
}

#box2{
display: grid;
background-color:	#080808;
grid-template-areas: "col6" "col7";
height:180px;
width:250px;
margin: 0 auto;
margin-top: 20px;

grid-auto-rows: 1fr 1fr;

    text-align: center;


}


#col6{

grid-area: col6;
background-color: black;

height: auto;
width:250px;
margin-left: 5px;
margin-top: 10px;


}

#col7{

grid-area: col7;
background-color: black;

height: 150px;
margin-left: 5px;
margin-top: 10px;

}
#box1{
display: grid;
background-color:	#080808;
height:240px;

margin: 0 auto;
margin-top: 120px;
margin-bottom: -120px;



grid-auto-rows: 1fr;

    text-align: center;


}
#grid1{

display: grid;
grid-template-areas: "col1 col2";
grid-auto-rows: 1fr;
grid-template-columns: 50% 50%;
text-align: center;

}

#col1{
  grid-area: col1;
  background-color: #989898;
width: 150px;
height: 60px;
margin: 0 auto;

}

#col2{
  grid-area: col2;
  background-color: #989898;

width: 150px;
height: 60px;
margin: 0 auto;

}

#p1{
color: grey;
margin-left: 10px;
margin-right: 10px;
font-size: 9px;
height:
}
